body{
	background-color: darkseagreen;
}

.content{
	text-align: center;
	font-size: 30px;
	color: darkred;
	display: flex;
	width: 100%;
	padding: 1px 1px;
	display: flex;
	justify-content: space-evenly;
	border: solid black;
	text-shadow: 0 0 0.100em currentColor;
}

.content1{
	text-align: center;
	color: black;
	text-shadow: 0 0 0.25em currentColor;
	justify-content: space-evenly;
	border: solid;
	padding: 1px;
	margin: 5px;

}